table {
  margin-left: 25%;
  margin-top: 5%;
  border-radius: 10px solid black;
  position: absolute;
}
td {
  border: 2px solid black;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 4em;
  background-color: lightgreen;
}
#p1HUD{
  position: absolute;
  margin-top: 20%;
  width: 325px;
  background-color: blue;
  border: 2px solid black;
  padding-left: 5px;
}
#p1HUD > p{
  margin: 0;
  padding: 0;
}
#p2HUD{
  position: absolute;
  margin-top: 20%;
  margin-left: 75%;
  width: 325px;
  background-color: red;
  border: 2px solid black;
  padding-left: 5px;
}
#p2HUD > p{
  margin: 0;
  padding: 0;
}
.square{
  background-image: url("../images/square.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 85px;
  color: white;
}
.square2{
  background-image: url("../images/square2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 85px;
  color: white;
}
.triangle{
  background-image: url("../images/triangle.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
}
.triangle2{
  background-image: url("../images/triangle2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
}
.circle{
  background-image: url("../images/circle.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
}
.circle2{
  background-image: url("../images/circle2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
}
.selected{
  padding: 5px solid blue;
}


/* .tile{
  height: 100px;
  width: 100px;
  background-color: black;
} */
